<header>
    <nav>
        <a href="/">Toutes les stories</a>
        <a href="/admin">Page admin</a>


    </nav>
    <form action="/login" method="post">

        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="mot de passe">
        <button type="submit">Se connecter</button>
    </form>

    <form action="/subscribe" method="post">

        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="mot de passe">
        <button type="submit">S'inscrire</button>
    </form>

    <a href="/logout">Déconnexion</a>
</header>